[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
python-dotenv = "*"
beautifulsoup4 = "*"
gunicorn = "*"
flask-login = "*"
playwright = "*"

[dev-packages]
pytest = "*"
flask-testing = "*"

[requires]
python_version = "3.12"
