.editable {
    font-size: 1.5rem; /* Augmente la taille du texte */
    padding: 5px;
    display: inline-block;
    border-bottom: 1px dashed #ccc; /* Légère indication que c'est modifiable */
}

.supprimer-postit {
    font-size: 0.7rem; /* Réduit la taille du bouton supprimer */
    padding: 2px 5px;
}

.btn-modifier, .btn-supprimer {
    background-color: white !important;
    color: inherit !important;
    border: 1px solid #ddd !important;
}

.btn-modifier:hover {
    background-color: #f8f9fa !important;
}

.btn-supprimer:hover {
    background-color: #f8f9fa !important;
}