{% extends "base.html" %}

<!-- {% block title %}Liste des Post-its{% endblock %} -->

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Liste des Post-its</h2>
    <div id="postit-container" class="row">
       <!-- Les post-its seront chargés ici via JavaScript --> 
    </div>
    <div class="text-center mt-3">
        <button id="add-postit" class="btn btn-outline-primary">+</button>
    </div>
</div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/add_postit.js') }}"></script>
    <script src="{{ url_for('static', filename='js/delete_postit.js') }}"></script>
    <script src="{{ url_for('static', filename='js/edit_postit.js') }}"></script>
    <script src="{{ url_for('static', filename='js/get_postits.js') }}"></script>
{% endblock %}
